.bold {
  font-weight: bold;
}

.parallax {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url("https://images.squarespace-cdn.com/content/v1/5628f991e4b08b10edcb81d4/1556807720988-U8H3ASC7N28VJD0WG5J6/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/Virginia+Park+Lodge+Wedding+Photo-74.jpg?format=2500w");
  min-height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @media(max-width: 500px) {
    min-height: 720px;
    background: #fff;
  }
}

.home-section {
  background-color: #fff;
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.eucalyptus {
  position: absolute;
  height: 400px;
  @media(max-width: 600px) {
    height: 300px;
  }
  @media(max-width: 440px) {
    height: 240px;
  }
  @media(max-width: 400px) {
    height: 200px;
  }
}

.leaves-top-right {
  top: 0;
  right: 0;
  transform: rotate(-100deg);
  @media(max-width: 900px) {
    top: -40px;
    right: -80px;
  }
  @media(max-width: 440px) {
    top: -20px;
    right: -40px;
  }
}

.leaves-bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(-39deg);
}

.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 auto;
  width: 700px;
  height: 550px;
  padding: 50px 0;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  @media(max-width: 735px) {
    top: 40px;
  }
  @media(max-width: 500px) {
    width: 300px;
  }
  p {
    letter-spacing: 2px;
    margin: 0;
  }
  &:before {
    content: '';
    width: 600px;
    height: 50px;
    position: absolute;
    top: -50px;
    background-color: #fff;
    @media(max-width: 500px) {
      width: 0px;
      height: 0px;
    }
  }
  &:after {
    content: '';
    width: 600px;
    height: 50px;
    position: absolute;
    bottom: -50px;
    background-color: #fff;
    @media(max-width: 500px) {
      width: 0px;
      height: 0px;
    }
  }
}

.vertical-line {
  width: 2px;
  height: 60px;
  background-color: #AF925D;
  margin: 10px 0;
}

.white-line {
  width: 2px;
  height: 60px;
  background-color: #fff;
  margin: 10px 0;
}

.long-vertical-line {
  width: 1px;
  height: 120px;
  background-color: #AF925D;
  margin: 10px 0;
}

.gold-button {
  color: #AF925D;
  border: 1px solid #AF925D;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  background-color: #fff;
  transition: 0.5s;
  width: 150px;
  height: 40px;
  &:hover {
    color: #AF925D;
    text-decoration: none;
    background-color: #AF925D;
    border: 1px solid #AF925D;
    color: #fff;
  }
}

.day-two-container {
  padding: 0 80px;
}
.day-two-flex {
  display: flex;
  align-items: center;
  width: 100%;
  height: 390px;
  justify-content: space-between;
  padding: 40px 0;
}

.day-two-details {
  width: 50%;
  text-align: center;
}

#carouselExampleControls {
  width: 600px;
  height: 400px;
}

.carousel-inner, .caorusel-item {
  height: 100%;
}

.day-two-img {
  width: 44%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 4px solid $gold;
}

.home-directions {
  background-color: $eucalyptus;
  padding: 100px 0;
}

#map {
  height: 300px;
  width: 800px;
  margin: 0 auto;
  @media(max-width: 800px) {
    width: 90%;
  }
}

.direction-link {
  color: #fff;
  text-decoration: underline;
  margin-bottom: 16px;
  display: block;
  &:hover {
    color: #fff;
  }
}

.home-footer {
  background-color: #AF925D;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-attribution {
  font-size: 10px;
  color: #fff;
  margin-bottom: 16px;
  letter-spacing: 0px;
  a {
    text-decoration: underline;
    color: #fff;
  }
}

.up-arrow {
  width: 12px;
  margin-bottom: 10px;
}

.link {
  &:hover {
    text-decoration: none;
  }
}

.link-text {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}

.accomodation-card-holder {
  background: #AF925D;
  width: 300px;
  height: 250px;
  position: relative;
}

.accomodation-holder {
  width: 80%;
  @media(max-width: 775px) {
    flex-direction: column !important
  }
}

.accomodation-card {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  // justify-content: space-around;
  align-items: center;
  background: #fff;
  text-align: center;
  // position: absolute;
  // top: 50px;
  // left: 25px;
}


