.rsvp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 102px;
  min-height: calc(100vh - 102px);
  overflow-x: hidden;
  @media(max-width: 735px) {
    margin-top: 40px;
    padding: 16px;
  }
}

.rsvp-label {
  color: #7E8980;
  margin-left: 8px;
}

.rsvp-input {
  width: 400px !important;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #8BA892;
  border-radius: 0 !important;
  &:focus {
    box-shadow: none;
    border: none;
    border-bottom: solid 3px #8BA892;
  }
  @media(max-width: 735px) {
    width: 100% !important;
  }
}

.rsvp-plant {
  @media(max-width: 735px) {
    display: none;
  }
}

.rsvp-plant-1 {
  top: -111px;
}

.rsvp-form {
  @media(max-width: 735px) {
    width: 90%;
  }
}

legend {
  color: #7E8980;
}

input[type='checkbox']:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -2px;
    left: -4px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #8BA892;
    cursor: pointer;
}

input[type='checkbox']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -2px;
    left: -4px;
    position: relative;
    background-color: #8BA892;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #8BA892;
    cursor: pointer;
}


