// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import 'mapbox-gl/dist/mapbox-gl';

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  letter-spacing: 1px;
  margin: 0;
}

.alert-info {
  color: #fff;
  border-color: #fff;
  background-color: $gold;
}
